node_modules/**/
node_modules/*
*.md
*.idea/*

.idea/workspace.xml

.idea/codeStyleSettings.xml

*.xml

.idea/workspace.xml

.idea/jsLibraryMappings.xml
.idea/libraries/node_modules.xml
.idea/jsLibraryMappings.xml
libs/logs/UAMS.log
*.log

*.log

libs/logs/UAMS.log

libs/logs/SSO.log
*.wt
mongod.lock
*.0000000002
journal/WiredTigerLog.0000000001
*.0000000001
WiredTiger.lock
*.turtle
WiredTiger
